*.obj
*.exe
*.pdb
*.user
*.aps
*.pch
*.vspscc
*_i.c
*_p.c
*.ncb
*.tlb
*.tlh
*.bak
*.cache
*.ilk
*.log
[Bb]in
[Dd]ebug*/
*.lib
*.sbr
obj/
[Rr]elease*/
_ReSharper*/
*/obj/*
Emotyper/EmotyperStorageUtility/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
Emotyper/EmotyperStorageUtility/obj/Debug/EmotyperStorageUtility.csproj.FileListAbsolute.txt
Emotyper/EmotyperStorageUtility/obj/Debug/EmotyperStorageUtility.csprojResolveAssemblyReference.cache
Emotyper/EmotyperStorageUtility/obj/Debug/EmotyperStorageUtility.dll
Emotyper/EmotyperStorageUtility/obj/Debug/EmotyperStorageUtility.pdb
